/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My styles */

body {
  width: 800px;
  margin: 0 auto;
}
header {
  height: 200px;
}
#logo    {
  width: 200px;
  float: left;
}
#title  {
  width: 600px;
  margin-left: 200px;
}

/* Search */
.search {
  margin: 20px auto 20px auto;
  width: 200px;
}

/* Footer */
footer {
  margin: 20px auto 20px auto;
  width: 400px;
}

/* Main columns */

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.side {
  float: left;
  margin: 0 1.5%;
  width: 20%;
}
.main {
  float: right;
  margin: 0 1.5%;
  width: 70%;
}

/* Tweet Input */
#newTweetInput {
  margin: 5px auto 5px auto;
  width: 80%;
}
#newTweetInput input {
  width: 100%;
  margin-bottom: 10px;
}
#refreshArea {
  margin: 5px auto 5px auto;
  text-align: center;
  vertical-align: middle;
}
#tweetStreamTitle {
  margin: 5px auto 5px auto;
  text-align: center;
  vertical-align: middle;
}

/* Side bar */
#profile {
  border: 2px solid #9799a7;
  padding: 10px;
  margin-bottom: 10px;
}
#trends {
  border: 2px solid #9799a7;
  padding: 10px;
}

/* Main Tweet Stream */
.main {
  border: 2px solid #9799a7;
  padding: 10px;
}

.tweets li {
  padding: 5px;
}
